<nav>
    <a href="/TIMER/Update">עדכון זמנים</a> |
    <a href="/TIMER/Get/memsar">הצגת ממסר</a> |
    <a href="/TIMER/Get/ldr">הצגת חיישן</a> |
    <a href="/TIMER/Get/updateTimers">הצגת עדכון הזמנים</a>
</nav>
<br>